:root {
  /* set colors thru pywal somehow */
  --color-alt: #A7D7ED; /* color6 */
  --color-fg: #E6E8E7; /* color7/foreground */
  --color-bg: #497CC1; /* color1 */

  font-family: Ubuntu, sans-serif;
  font-weight: bold;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

header {
  text-align: center;
}

h1 {
  text-decoration: underline;
  text-underline-offset: 0.8rem;
}

main {
  margin: 0 auto;
  width: 50vw;
  /*height: 50vh;*/

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
}

a, a:link {
  /*border: solid var(--color-fg) 0.4rem;*/
  padding: 0.8rem;
  border-radius: 50%;
  color: var(--color-fg);
  text-decoration: none;
  text-align: center;

  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.8rem; /* spacing in rel. to fa-icons */

  transition: background-color 0.2s linear, color 0.2s linear;

}

a:active, a:hover, a:focus {
  background-color: var(--color-fg);
  color: var(--color-bg);
  outline: none;
}

@media screen and (max-aspect-ratio: 3/4) {
  main {
    /* weak attempt at mobile support but whatever */
    width: 96vw !important;
  }
}