:root {
  /* set colors thru pywal somehow */
  --foreground: #abb2bf; /* color15/foreground */
  --background: #282c34; /* color0/background */
  --inset: #545862;
  --accent: #61afef; /* color12 or who knows? */
  --extra2: #98c379; /* color10 */
  --extra1: #c678dd; /* color13 */

  font-family: Ubuntu, sans-serif;
  font-weight: bold;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 5vh;
}

h1 {
  text-decoration: underline;
  color: var(--foreground);
  text-underline-offset: 0.8rem;
}

main {
  margin: 0 auto;
}

/* containers for links */
section {
  background: var(--inset);
  padding: 1em;
  margin: 1em 0;
  border-radius: 2em 2em 0 2em;
  border-left: 2em solid var(--accent);
  display: block;
}

#school, #science {
  border-left-color: var(--extra1);
}

#news {
  border-left-color: var(--extra2);
}

/* link size, transition, color */
a, a:link {
  color: var(--foreground);
  font-size: 1.3em;
  text-decoration: none;

  transition: color 0.2s linear, color 0.2s linear;

  padding: 1em;
  display: inline-block;
}

a:active, a:hover, a:focus {
  /* background-color: var(--background); */
  color: var(--accent);
}

/* @media rules for width only */
/* (this is desktop-only, soooorry) */
@media screen and (min-width: 1400px) {
  main {
    width: 50vw;
  }
}

@media screen and (min-width: 966px) and (max-width: 1399px) {
  main {
    width: 70vw;
  }
}

@media screen and (max-width: 965px) {
  main {
    width: 96vw;
  }
}
